<?xml version="1.0"?>
<!--
/**
 * Xigen
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <bannermanager>
            <general>
                <enable_frontend>1</enable_frontend>
            </general>
        </bannermanager>
        <system>
            <media_storage_configuration>
                <allowed_resources>
                    <bannermanager_folder>xigen</bannermanager_folder>
                </allowed_resources>
            </media_storage_configuration>
        </system>
    </default>
</config>
